.nav-link{
    color: black;
    font-size: large;
    background-color: #ffc107;
    border-radius: 6px;
    margin-top: 15px;
    
}
#margin{
    margin-right: 10px;
}
.nav-link:hover{
color: #ffc107;
background-color: black;
}
.btn:hover{
    color: #ffc107;
background-color: black;
}

.underline{
    text-decoration: underline;
    text-decoration-color: #ffc107;
    border-radius: 5px;
    
}
.notification{
    color: rgb(167, 167, 167);
    margin-top: 15px;
    font-size: 15px;
}
.form-control{
    width: 40%;
}

.flex{
    display: flex;
    flex-direction: row;
}
.one{
    width: 160px;
}
.two{
    flex: 1;
}