<!--
File: head.html
Author: Baráth Dávid
Copyright: 2022, Baráth Dávid
Group: Szoft 1 N
Date: 2022.05.26
Github: https://github.com/david587/
Licenc: GNU GPL
-->
<h2>Testtömegindex</h2>

<div class="flex">
<div class="one"><P>A testömeg indexe:</P></div> 
<div class="two"><p>{{ result }}</p></div>
</div>
<p class="notification">Megjegyzés: Figyelem! Ez a számítás nem veszi figyelembe a testmagasságot, ezért nem ad jó eredményt. Alacsonyabb embereknél soványságot, magasabb embereknél testsúlyfelesleget mutathat.</p>