<!--
File: head.html
Author: Baráth Dávid
Copyright: 2022, Baráth Dávid
Group: Szoft 1 N
Date: 2022.05.26
Github: https://github.com/david587/
Licenc: GNU GPL
-->

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style\style.css">

    <title>0323</title>
</head>
<body>
    <div class="container">

        <ul class="nav justify-content-center">
         
            <li class="nav-item">
              <a class="nav-link" id="margin" href="index.php">Főoldal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.php">Névjegy</a>
            </li>
          </ul>
        <h1 class="underline">Feladat 0323</h1>
        <h1>Baráth Dávid, Szoft 1 N, 2022-05-26</h1>


